[user]
	name = omrimallis
	email = omrimalis@gmail.com
[alias]
	co = checkout
	st = status
	com = commit -v
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	dif = diff
	difc = diff --cached
	amend = commit -v --amend
    sw = switch
